*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-size: 15px;

  background: hsl(212, 45%, 89%);
}

main {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center the content */
  justify-content: center; /* Vertically center the content */
  height: 100vh; /*Set the height to 100% of the viewport height*/
  width: 100vw;
}

.qrCard {
  width: 20em;
  height: 31.0625em;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: hsl(0, 0%, 100%);
}

.qrCard-img {
  width: 18em;
  height: 18em;
  margin: 0 auto;
  border-radius: 10px;
}

.qrCard-text {
  /* padding-top: 1em; */
  margin: 1em 0;
  text-align: center;
  width: 18em;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  color: #1f314f;
}

p {
  color: #7d889e;
  letter-spacing: 0.19px;
  font-weight: 300;
}

footer {
  text-align: center;
  font-size: 8px;
}
